# Introduction



## Entreprise Apple

Apple Inc. est une entreprise technologique mondialement reconnue, fond√©e en 1976 par Steve Jobs, Steve Wozniak et Ronald Wayne. Bas√©e √† Cupertino, en Californie, Apple est c√©l√®bre pour ses produits embl√©matiques tels que l'iPhone, l'iPad et le Mac, ainsi que pour son syst√®me d'exploitation iOS. L'entreprise propose √©galement une gamme de services, dont iTunes, l'App Store et iCloud. Gr√¢ce √† son design innovant et √† son √©cosyst√®me int√©gr√©, Apple est devenue une r√©f√©rence d'excellence dans l'industrie technologique.





## Cahier Jupyter

Cet cahier d'analyse examine la performance boursi√®re de Tesla √† travers des visualisations. Il explore des indicateurs financiers cl√©s tels que les prix historiques, le volume et la capitalisation boursi√®re. Les visualisations comprennent des graphiques lin√©aires des prix de cl√¥ture au fil du temps, des indicateurs calcul√©s tels que les rendements quotidiens et les moyennes mobiles, ainsi que des graphiques en chandeliers pour montrer les fluctuations quotidiennes des prix. Le cahier se termine par des conclusions et des enseignements cl√©s. Il vise √† aider les investisseurs et les analystes √† prendre des d√©cisions √©clair√©es bas√©es sur des donn√©es historiques et des insights visuels.

#  <br> <br> <br> <p style="text-align:center"><span style="font-size:72px">üìö</span><span style="color:#8e44ad"><span style="font-size:48px"><span style="font-family:Comic Sans MS,cursive">&nbsp;Importation des Biblioth&eacute;ques&nbsp;</span></span></span></p>

<p style="text-align:center">&nbsp;</p>

<hr />
<p>&nbsp;</p>

In [6]:
#une biblioth√®que de visualisation en 2D
import matplotlib.pyplot as plt

#une biblioth√®que fondamentale pour le calcul num√©rique
import numpy as np

#une biblioth√®que de visualisation de donn√©es et cr√©ation des graphiques statistiques 
import seaborn as sns

#une biblioth√®que qui offre des structures de donn√©es et des outils d'analyse de donn√©es puissants. 
import pandas as pd

# <br> <br> <br> <p style="text-align:center"><span style="font-size:72px">üìä</span><span style="color:#8e44ad"><span style="font-size:48px"><span style="font-family:Comic Sans MS,cursive">&nbsp;Importation & Affichage des donn&eacute;es</span></span></span></p>

<p style="text-align:center">&nbsp;</p>

<hr />
<p>&nbsp;</p>

In [9]:
data = pd.read_csv("AAPL.csv")

#### Afficher les 5 prmiers Jours des Donn√©es

In [12]:
data.head()

         Date      Open      High       Low     Close  Adj Close      Volume
0  2000-12-06  0.261161  0.267857  0.250000  0.255580   0.216650  1374464000
1  2000-12-07  0.257813  0.265625  0.250000  0.255580   0.216650   408917600
2  2000-12-08  0.264509  0.273438  0.257813  0.268973   0.228003   435624000
3  2000-12-11  0.271205  0.274554  0.265625  0.271205   0.229895   332511200
4  2000-12-12  0.272321  0.285714  0.267857  0.274554   0.232734   386260000

#### Afficher les 5 Derniers Jours des Donn√©es

In [13]:
data.sort_values(by=['Date'] ,ascending=False).head()

,Date,Open,High,Low,Close,Adj Close,Volume
5784,2023-12-05,190.210007,194.399994,190.179993,193.419998,193.419998,66371700
5783,2023-12-04,189.979996,190.050003,187.449997,189.429993,189.429993,43389500
5782,2023-12-01,190.330002,191.559998,189.229996,191.240005,191.240005,45679300
5781,2023-11-30,189.839996,190.320007,188.190002,189.949997,189.949997,48794400
5780,2023-11-29,190.899994,192.089996,188.970001,189.369995,189.369995,43014200

#### Copier les donn√©es pour les visualiser d'une mani√©re lisible Pour un non-connaisseur

In [14]:
vis = data.copy()

In [18]:
vis['Open'] = round(vis["Open"],3) + "$"

UFuncTypeError: ufunc 'add' did not contain a loop with signature matching types (dtype('float64'), dtype('<U1')) -> None

In [ ]:
data